body {
    font-size: 10;
    max-width: 1024px;
    background-color:rgb(144, 168, 168);
    margin: auto;
    
}
header {
    background-color: #d1d9e2;
    border: 6px solid rgb(143, 137, 148);
    border-radius: 25px;
    
}
h1 {
    background-color: #d1d9e2;
    text-align: center;
       
}

.photo {
    text-align: center;
    background-color: #d1d9e2;
    
}

img {
    width: 516px;
    height: 396px;
    border-radius: 15px 100px 15px 100px;
}

.contacts {
    background-color: #d1d9e2;
}

h2 {
    text-align: center;
    font-size: 1.6rem;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: 30px;
    font-size: 1.2rem;
}



.skills {
    font-size: 1.2rem;
    background-color: #d1d9e2;
    padding: 5px;
    border: 6px solid rgb(143, 137, 148);
    border-radius: 25px;
}

.education {
    font-size: 1.2rem;
    background-color: #d1d9e2;
    padding: 5px;
    border: 6px solid rgb(143, 137, 148);
    border-radius: 25px;
}

.aboutme {
    font-size: 1.2rem;
    background-color: #d1d9e2;
    padding: 5px;
    border: 6px solid rgb(143, 137, 148);
    border-radius: 25px;
}

.footer {
    font-size: 1.2rem;
    background-color: #d1d9e2;
    text-align: center;
    border: 6px solid rgb(143, 137, 148);
    border-radius: 25px;
}

